##### LOCAWEB - NAO REMOVER #####
AddHandler php80-script .php
suPHP_ConfigPath /home/advocacialorem1/
##### LOCAWEB - NAO REMOVER #####

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]